
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

<!-- 页面部分 -->
<div class="seckill-banner">
    <ul id="seckill-ul">

        <li class="active J_currentBanner">
            <a href="javascript:void(0);">
                <em id="endtime">10:00</em>
                <span id="showtime"></span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <em>14:00</em><span> 即将开始</span>
            </a>
        </li>
        <li> <a href="javascript:void(0);"><em>20:00</em><span> 即将开始</span></a> </li>
        <li> <a href="javascript:void(0);"><em>22:00</em><span> 即将开始</span></a> </li>
    </ul>
</div>

<!-- 秒杀商品部分 -->
<div class="seckill-con">
    <ul class="J_currentCon clearfix">

        <li>
            <a href="#" class="seckill-box"></a>
            <div class="item-box">
                <span class="img-con">
                    <img class="done"
                         src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/c1d6232caff62f3b59d11ee09abdb9d5.jpg">
                </span> <span class="pro-con">
                    <span class="name">Redmi K30 Pro 12GB+128GB 太空灰 </span>
                    <span class="desc">双模5G，骁龙865，弹出全面屏</span>
                    <span class="pro-num"><span>库存:</span><em class="s-num-9199">10</em></span>
                    <span class="price">
                        2999.00元
                        <del>3699元</del>
                    </span>
                </span>
            </div> <a href="//www.mi.com/buy/detail?product_id=2194100014" class="J_buy  J_bug_9199"
                      data-id="2194100014">立即抢购</a>
        </li>

        <li>
            <a href="#" class="seckill-box"></a>
            <div class="item-box">
                <span class="img-con">
                    <img class="done"
                         src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bc3e8e32df89b8adb57f9efe1d29dead.jpg">
                </span> <span class="pro-con">
                    <span class="name"> 14 Ⅱ R5 8G 512G 银色 </span>
                    <span class="desc">全面屏高性能轻薄本</span>
                    <span class="pro-num"><span>库存:</span><em class="s-num">3499</em></span>
                    <span class="price">
                        3799元
                        <del>3699元</del>
                    </span>
                </span>
            </div> <a href="//www.mi.com/buy/detail?product_id=2194100014" class="J_buy"
                      data-id="2194100014">立即抢购</a>
        </li>

        <li>
            <a href="#" class="seckill-box"></a>
            <div class="item-box">
                <span class="img-con">
                    <img class="done"
                         src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bc3e8e32df89b8adb57f9efe1d29dead.jpg">
                </span> <span class="pro-con">
                    <span class="name"> 14 Ⅱ R5 8G 512G 银色 </span>
                    <span class="desc">全面屏高性能轻薄本</span>
                    <span class="pro-num"><span>库存:</span><em class="s-num">3499</em></span>
                    <span class="price">
                        3799元
                        <del>3699元</del>
                    </span>
                </span>
            </div> <a href="//www.mi.com/buy/detail?product_id=2194100014" class="J_buy"
                      data-id="2194100014">立即抢购</a>
        </li>
        <li>
            <a href="#" class="seckill-box"></a>
            <div class="item-box">
                <span class="img-con">
                    <img class="done"
                         src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bc3e8e32df89b8adb57f9efe1d29dead.jpg">
                </span> <span class="pro-con">
                    <span class="name"> 14 Ⅱ R5 8G 512G 银色 </span>
                    <span class="desc">全面屏高性能轻薄本</span>
                    <span class="pro-num"><span>库存:</span><em class="s-num">3499</em></span>
                    <span class="price">
                        3799元
                        <del>3699元</del>
                    </span>
                </span>
            </div> <a href="//www.mi.com/buy/detail?product_id=2194100014" class="J_buy"
                      data-id="2194100014">立即抢购</a>
        </li>
        <li>
            <a href="#" class="seckill-box"></a>
            <div class="item-box">
                <span class="img-con">
                    <img class="done"
                         src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bc3e8e32df89b8adb57f9efe1d29dead.jpg">
                </span> <span class="pro-con">
                    <span class="name"> 14 Ⅱ R5 8G 512G 银色 </span>
                    <span class="desc">全面屏高性能轻薄本</span>
                    <span class="pro-num"><span>库存:</span><em class="s-num">3499</em></span>
                    <span class="price">
                        3799元
                        <del>3699元</del>
                    </span>
                </span>
            </div> <a href="//www.mi.com/buy/detail?product_id=2194100014" class="J_buy"
                      data-id="2194100014">立即抢购</a>
        </li>
        <li>
            <a href="#" class="seckill-box"></a>
            <div class="item-box">
                <span class="img-con">
                    <img class="done"
                         src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bc3e8e32df89b8adb57f9efe1d29dead.jpg">
                </span> <span class="pro-con">
                    <span class="name"> 14 Ⅱ R5 8G 512G 银色 </span>
                    <span class="desc">全面屏高性能轻薄本</span>
                    <span class="pro-num"><span>库存:</span><em class="s-num">3499</em></span>
                    <span class="price">
                        3799元
                        <del>3699元</del>
                    </span>
                </span>
            </div> <a href="//www.mi.com/buy/detail?product_id=2194100014" class="J_buy"
                      data-id="2194100014">立即抢购</a>
        </li>
        <li>
            <a href="#" class="seckill-box"></a>
            <div class="item-box">
                <span class="img-con">
                    <img class="done"
                         src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bc3e8e32df89b8adb57f9efe1d29dead.jpg">
                </span> <span class="pro-con">
                    <span class="name"> 14 Ⅱ R5 8G 512G 银色 </span>
                    <span class="desc">全面屏高性能轻薄本</span>
                    <span class="pro-num"><span>库存:</span><em class="s-num">3499</em></span>
                    <span class="price">
                        3799元
                        <del>3699元</del>
                    </span>
                </span>
            </div> <a href="//www.mi.com/buy/detail?product_id=2194100014" class="J_buy"
                      data-id="2194100014">立即抢购</a>
        </li>
        <li>
            <a href="#" class="seckill-box"></a>
            <div class="item-box">
                <span class="img-con">
                    <img class="done"
                         src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bc3e8e32df89b8adb57f9efe1d29dead.jpg">
                </span> <span class="pro-con">
                    <span class="name"> 14 Ⅱ R5 8G 512G 银色 </span>
                    <span class="desc">全面屏高性能轻薄本</span>
                    <span class="pro-num"><span>库存:</span><em class="s-num">3499</em></span>
                    <span class="price">
                        3799元
                        <del>3699元</del>
                    </span>
                </span>
            </div> <a href="//www.mi.com/buy/detail?product_id=2194100014" class="J_buy"
                      data-id="2194100014">立即抢购</a>
        </li>
        <li>
            <a href="#" class="seckill-box"></a>
            <div class="item-box">
                <span class="img-con">
                    <img class="done"
                         src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bc3e8e32df89b8adb57f9efe1d29dead.jpg">
                </span> <span class="pro-con">
                    <span class="name"> 14 Ⅱ R5 8G 512G 银色 </span>
                    <span class="desc">全面屏高性能轻薄本</span>
                    <span class="pro-num"><span>库存:</span><em class="s-num">3499</em></span>
                    <span class="price">
                        3799元
                        <del>3699元</del>
                    </span>
                </span>
            </div> <a href="//www.mi.com/buy/detail?product_id=2194100014" class="J_buy"
                      data-id="2194100014">立即抢购</a>
        </li>

    </ul>
</div>

<script src="~/js/seckill.js" asp-append-version="true"></script>


